# Default server configuration
#
server {
        listen 80;

        root /var/www/html;

        index index.html;

        server_name {{domain_name}};

#        location / {
#                try_files $uri $uri/ =404;
#        }


        location / {
                proxy_pass http://www.google.com;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
}
#
#server{
#        listen 443 ssl http2;
#
#        root /var/www/html;
#
#        index index.html;
#
#       server_name {{domain_name}};
#
#       ssl off;
#
#        location / {
#                try_files $uri $uri/ =404;
#        }
#
#        location / {
#                proxy_pass http://www.google.com;
#               proxy_set_header HOST $host;
#               proxy_set_header X-Forwarded-Proto $scheme;
#               proxy_set_header X-Real-IP $remote_addr;
#               proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#        }
#}



# Virtual Host configuration for example.com
#